
.progress-bar {
    background-color: green;
    height: 30px;
    width: 0;
    animation: increaseWidth 5s ease-in-out forwards;
  }
  
  @keyframes increaseWidth {
    from {
      width: 0;
    }
    to {
      width: 100%; /* Set the desired width here */
    }
  }
  