
.progress-bar {
    background-color: green;
    height: 30px;
    width: 0;
    animation: increaseWidth 2s ease-in-out forwards;
  }
  
  @keyframes increaseWidth {
    from {
      width: 0;
    }
    to {
      width: var(--progress);
    }
  }
  