/* #HomeText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#displayedText{
    color: red;
}
#resumeTag{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
} */
#HomeText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#displayedText {
    color: red;
    /* white-space: nowrap;  */
}

#resumeTag {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px; /* Add margin below the Resume link */
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 15px; /* Increase distance between icons */
    color: #007bff;
    font-size: 24px;
}

.social-icons a:hover {
    color: #0056b3;
}
