/* ProjectsPage.css */

.projects-page {
    padding: 20px;
    background-color: lightgreen;
    height: 87vh;
}
  
  .projects-heading {
    margin-left: 45%;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
  }
  