/* Footer.css */

.footer {
    background-color: slateblue; /* Example background color */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-container {
    margin-left: 10px; /* Adjust margin as needed */
  }
  
  .icon {
    width: 30px; /* Adjust icon size as needed */
    height: auto;
  }
  